@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDispaly/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'), url('../fonts/SFProDispaly/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDispaly/SFProDisplay-Bold.woff2') format('woff2'), url('../fonts/SFProDispaly/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDispaly/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDispaly/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'), url('../fonts/SFProDispaly/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDispaly/SFProDisplay-Semibold.woff2') format('woff2'), url('../fonts/SFProDispaly/SFProDisplay-Semibold.woff') format('woff'), url('../fonts/SFProDispaly/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDispaly/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('../fonts/SFProDispaly/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDispaly/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDispaly/SFProDisplay-Medium.woff') format('woff'),
      url('../fonts/SFProDispaly/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDispaly/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'), url('../fonts/SFProDispaly/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDispaly/SFProDisplay-Regular.woff2') format('woff2'), url('../fonts/SFProDispaly/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDispaly/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}