
.bg {
  &-white {
    background: #fff;
  }

  &-light {
    background: #F4F5F6 !important;
  }

  &-primary {
    background: var(--color-primary) !important;
    
    &-10{
      background: var(--color-primary-10) !important;

    }
  }

  &-red {
    background: var(--color-red) !important;
  }

  &-green {
    background: var(--color-green) !important;
  }

  &-yellow {
    background: var(--color-yellow) !important;
  }

  &-blue {
    background: var(--color-blue) !important;
  }
}