.icon {
	min-width: 1em !important;
	width    : 1em !important;
	height   : 1em !important;

	display  : block;

	&-lg{
		min-width: 2em !important;
		width    : 2em !important;
		height   : 2em !important;
	}

	&-sm{
		min-width: 0.5em !important;
		width    : 0.5em !important;
		height   : 0.5em !important;
	}
}
