<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Цели и задачи</title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'Цели и задачи' }) %>


	<section class="content">
		<div class="text-subtitle-1 text-md-h6 mb-5">Цели нашей организации</div>
		<div class="text-body-2 mb-10 lh-1-5">
			Ассоциация "Ростсельмаш-Лига" зарегистрирована 7 сентября 2020 г. регистратором Межрайонная инспекция Федеральной
			налоговой службы № 26 по Ростовской области. Руководитель организации: генеральный директор Ревенко Антон
			Николаевич. Юридический адрес Ассоциация "Ростсельмаш-Лига" - 344029, Ростовская область, город Ростов-на-Дону,
			улица 1-й Конной Армии, дом 4е.
			<br><br>
			Основным видом деятельности является «Деятельность спортивных клубов», зарегистрированы 2 дополнительных вида
			деятельности. Организации АССОЦИАЦИЯ УЧАСТНИКОВ ДЕТСКОЙ ЛИГИ РЕГБИ "РОСТСЕЛЬМАШ-ЛИГА" присвоены ИНН 6166120286,
			ОГРН 1206100029871, ОКПО 45483604.
			<br><br>
			Ассоциация "Ростсельмаш-Лига" зарегистрирована 7 сентября 2020 г. регистратором Межрайонная инспекция Федеральной
			налоговой службы № 26 по Ростовской области. Руководитель организации: генеральный директор Ревенко Антон
			Николаевич. Юридический адрес Ассоциация "Ростсельмаш-Лига" - 344029, Ростовская область, город Ростов-на-Дону,
			улица 1-й Конной Армии, дом 4е. Основным видом деятельности является «Деятельность спортивных клубов»,
			зарегистрированы 2 дополнительных вида деятельности. Организации АССОЦИАЦИЯ УЧАСТНИКОВ ДЕТСКОЙ ЛИГИ РЕГБИ
			"РОСТСЕЛЬМАШ-ЛИГА" присвоены ИНН 6166120286, ОГРН 1206100029871.
		</div>
		<div class="text-subtitle-1 text-md-h6 mb-5">Задачи нашей организации</div>
		<div class="text-body-2 lh-1-5">
			Ассоциация "Ростсельмаш-Лига" зарегистрирована 7 сентября 2020 г. регистратором Межрайонная инспекция Федеральной
			налоговой службы № 26 по Ростовской области. Руководитель организации: генеральный директор Ревенко Антон
			Николаевич. Юридический адрес Ассоциация "Ростсельмаш-Лига" - 344029, Ростовская область, город Ростов-на-Дону,
			улица 1-й Конной Армии, дом 4е.
			<br><br>
			Основным видом деятельности является «Деятельность спортивных клубов», зарегистрированы 2 дополнительных вида
			деятельности. Организации АССОЦИАЦИЯ УЧАСТНИКОВ ДЕТСКОЙ ЛИГИ РЕГБИ "РОСТСЕЛЬМАШ-ЛИГА" присвоены ИНН 6166120286,
			ОГРН 1206100029871, ОКПО 45483604.
			<br><br>
			Ассоциация "Ростсельмаш-Лига" зарегистрирована 7 сентября 2020 г. регистратором Межрайонная инспекция Федеральной
			налоговой службы № 26 по Ростовской области. Руководитель организации: генеральный директор Ревенко Антон
			Николаевич. Юридический адрес Ассоциация "Ростсельмаш-Лига" - 344029, Ростовская область, город Ростов-на-Дону,
			улица 1-й Конной Армии, дом 4е. Основным видом деятельности является «Деятельность спортивных клубов»,
			зарегистрированы 2 дополнительных вида деятельности. Организации АССОЦИАЦИЯ УЧАСТНИКОВ ДЕТСКОЙ ЛИГИ РЕГБИ
			"РОСТСЕЛЬМАШ-ЛИГА" присвоены ИНН 6166120286, ОГРН 1206100029871.
			<br><br>
			Основным видом деятельности является «Деятельность спортивных клубов», зарегистрированы 2 дополнительных вида
			деятельности. Организации АССОЦИАЦИЯ УЧАСТНИКОВ ДЕТСКОЙ ЛИГИ РЕГБИ "РОСТСЕЛЬМАШ-ЛИГА" присвоены ИНН 6166120286,
			ОГРН 1206100029871, ОКПО 45483604.
		</div>
		<div class="pt-10"></div>

	</section>


	<%= _.template(require('../../includes/footer.html').default)() %>
</body>

</html>