<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Соревнования</title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'Соревнования' }) %>


	<section class="content">
		<div class="flex mb-6">
			<div class="admin-select" data-toggle-cover="">
				<div class="text-body-2 text--demibold">Сезон</div>
				<button class="admin-select-btn btn btn--primary btn--link ml-2" data-toggle-link="">
					2020 -2021
					<svg class="icon ml-1 text-small-2">
						<use xlink:href="img/icons.svg#triangle-right"></use>
					</svg>
				</button>
				<div class="admin-select-list card py-1" data-toggle-content="">
					<div class="admin-select__item fade-60 py-1 px-4 text-body-2 text--demibold">2020 -2021</div>
					<a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2022</a>
					<a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2023</a>
				</div>
			</div>

		</div>
		<div class="card p-6 mb-2">
			<div class="text-subtitle-1 text-md-h6 mb-8">
				Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений
				Ростовской области 
				<div class="d-inline-flex flex-align-center">
					<div class="image image--round image--box mr-1" style="width:12px;background: #FFA800;"></div>
					<div class="text-body-2 fade-80 lh-1">Планируется</div>
				</div>
			</div>
			<div class="content-list">
				<div class="content-list-item mb-5"  >
					<div class="content-list-item__before flex-self-start">
						<div class="text-body-2 text--bold">1</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
						<label class="contest-select mt-4 d-block">
							<div class="text-body-2 text--demibold mb-1">Выберите школу</div>
							<div class="form-input-cover">
								<select name="" id="" class="contest-select-input flex-grow">
									<option value="МБОУ СОШ 14">МБОУ СОШ 14</option>
									<option value="МБОУ СОШ 15">МБОУ СОШ 15</option>
									<option value="МБОУ СОШ 16">МБОУ СОШ 16</option>
									<option value="МБОУ СОШ 17">МБОУ СОШ 17</option>
								</select>
								<div class="form-input-end">
									<svg class=" icon ml-1 text-small-2">
										<use xlink:href="img/icons.svg#triangle-right"></use>
									</svg>
								</div>
							</div>
						</label>
						<button class="btn btn--link btn--primary mt-2">Смотреть таблицу</button>
						<ul class="text-ul mt-2">
							<li class="text-ul-item text-small" data-fancybox-modal data-src="dialog-contest.html">
								<button class="btn btn--link btn--primary text--regular"> Этап 1 </button>
							</li>
							<li class="text-ul-item text-small" data-fancybox-modal data-src="dialog-contest.html">
								<button class="btn btn--link btn--primary text--regular"> Этап 2 </button>
							</li>
							<li class="text-ul-item text-small" data-fancybox-modal data-src="dialog-contest.html">
								<button class="btn btn--link btn--primary text--regular"> Этап 3 </button>
							</li>
						</ul>
					</div>
				</div>
				<div class="content-list-item mb-5" data-fancybox-modal data-src="dialog-protocol.html">
					<div class="content-list-item__before">
						<div class="text-body-2 text--bold">2</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
						<button class="btn btn--link btn--primary mt-2">Смотреть таблицу</button>
					</div>
				</div>
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-body-2 text--bold">3</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
						<button class="btn btn--link btn--primary mt-2">Смотреть таблицу</button>
					</div>
				</div>
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-small text--bold">
							<svg class="icon">
								<use xlink:href="img/icons.svg#flag" />
							</svg>
						</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">ФИНАЛ <span class="text--regular">(май)</span></div>
						<button class="btn btn--link btn--primary mt-2">Смотреть таблицу</button>
					</div>
				</div>
			</div>
		</div>



	</section>

	<%= _.template(require('../../includes/footer.html').default)() %>
</body>

</html>