<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Управление Ассоциацией </title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'Управление Ассоциацией' }) %>

	<section class="dude-inner">

		<div class="dude-inner-content">
			<button class="btn btn--primary btn--light mb-6 d-none d-lg-flex">
				<svg class="icon mr-2 color-text">
					<use xlink:href="img/icons.svg#arrow-left" />
				</svg>
				<div class="color-text">Назад</div>
			</button>

			<div class="text-subtitle-1 text-md-h4 mb-2">Артемьев Игорь Юрьевич</div>
			<div class="text-body-2 text--uppercase fade-60">ПРЕДСЕДАТЕЛЬ ВЫСШЕГО совета федерации РЕГБИ РОССИИ</div>


			<div class="dude-inner-date mb-5 mt-5">
				<div class="text-body-2 text--demibold">Дата рождения: 27.11.1961</div>
			</div>

			<div class="text-body-2  text--demibold mb-4"> Образование: </div>
			<div class="text-body-2  mb-4">
				В 1983 году окончил биолого-почвенный факультет Ленинградского государственного университета, аспирантуру при
				кафедре анатомии и физиологии Ленинградского государственного педагогического института им. А. И. Герцена.
				Кандидат биологических наук.
			</div>
			<div class="text-body-2 ">
				В 1998 году получил второе высшее образование, окончив юридический факультет Санкт-Петербургского
				государственного университета.
			</div>


			<div class="text-subtitle-1 text-md-h6 mt-8 mb-6">Карьера</div>

			<div class="card px-3 py-6 p-md-6 pt-md-4 mb-2">
				<div class="text-body-2  text--demibold mb-3"> 1990 </div>
				<div class="text-body-2 ">
					Был избран депутатом Ленсовета, был председателем комиссии по экологии и городскому хозяйству. Возглавлял
					Региональную партию центра, ставшую затем основой петербургской организации «Яблока».
				</div>
			</div>
			<div class="card px-3 py-6 p-md-6 pt-md-4 mb-2">
				<div class="text-body-2  text--demibold mb-3"> 1990 </div>
				<div class="text-body-2 ">
					Был избран депутатом Ленсовета, был председателем комиссии по экологии и городскому хозяйству. Возглавлял
					Региональную партию центра, ставшую затем основой петербургской организации «Яблока».
				</div>
			</div>
			<div class="card px-3 py-6 p-md-6 pt-md-4 mb-2">
				<div class="text-body-2  text--demibold mb-3"> 1990 </div>
				<div class="text-body-2 ">
					Был избран депутатом Ленсовета, был председателем комиссии по экологии и городскому хозяйству. Возглавлял
					Региональную партию центра, ставшую затем основой петербургской организации «Яблока».
				</div>
			</div>

		</div>

		<div class="dude-inner-img">
			<div class="image image--box">
				<img src="img/sempl/dude-inner.png" alt="">
			</div>
		</div>

	</section>


	<%= _.template(require('../../includes/footer.html').default)() %>
</body>

</html>