<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Партнеры</title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'Партнеры' }) %>

	<section class="partners-page">
		<div class="grid grid-spacing-2 grid-spacing-lg-6">
			<div class="grid-col-12">
				<div class="partners-page-main card">
					<div class="partners-page-main-img">
						<img src="img/sempl/partners-page-main-1.png" alt="">
					</div>
					<div class="partners-page-main-content card-content">
						<div class="text-subtitle-1 text-md-h6 mb-5">Ростсельмаш</div>
						<div class="text-body-2 lh-1-5">
							ГК Ростсельмаш входит в число крупнейших разработчиков и производителей сельхозтехники мира. Компания
							располагает собственным центром инноваций, экспериментальной базой, современным производством полного
							технологического цикла.
							<br><br>
							Под собственным брендом Ростсельмаш выпускает широкий модельный ряд машин и оборудования для
							сельскохозяйственных операций – от подготовки почвы до первичной переработки зерна; электронные решения
							для повышения эффективности сельхозработ и аграрного бизнеса. Через разветвленную
							дилерскую сеть продукция поставляется на рынки десятков стран четырех континентов.
							<br><br>
							Высокие конкурентные преимущества техники Ростсельмаш подтверждены сравнительными испытаниями,
							международными наградами, российскими и мировыми рекордами.
						</div>
						<a href="" class="btn btn--primary btn--link mt-5 mt-md-10">
							<svg class="icon mr-2 text-body-1">
								<use xlink:href="img/icons.svg#net" />
							</svg>
							rostselmash.com
						</a>
					</div>
				</div>
			</div>
			<div class="grid-col-12 grid-col-lg-6">
				<div class="partners-page-item card h-100">
					<div class="partners-page-item-img">
						<img src="img/sempl/partners-2.png" alt="">
					</div>
					<div class="partners-page-item-content card-content">
						<div class="text-body-1 text--demibold mb-2">Ростсельмаш</div>
						<div class="text-body-2 fade-80 mb-4">
							Компания «Ростсельмаш» — один из крупнейших мировых производителей сельскохозяйственной техники. С
							момента основания в 1929 г. компания поставила своим клиентам в 48 странах мира более
							2,5 миллионов единиц техники.
						</div>
						<a href="" class="btn btn--primary btn--link">
							<svg class="icon mr-2 text-body-1">
								<use xlink:href="img/icons.svg#net" />
							</svg>
							rugby.ru
						</a>
					</div>
				</div>
			</div>
			<div class="grid-col-12 grid-col-lg-6">
				<div class="partners-page-item card h-100">
					<div class="partners-page-item-img">
						<img src="img/sempl/partners-3.png" alt="">
					</div>
					<div class="partners-page-item-content card-content">
						<div class="text-body-1 text--demibold mb-2">Министерство спорта и образования
							Ростовской области</div>
						<div class="text-body-2 fade-80 mb-4">
							Управление по контролю и надзору в сфере образования, в пределах установленной компетенции, задач и функций минобразования Ростовской области, реализует переданные...
						</div>
						<a href="" class="btn btn--primary btn--link">
							<svg class="icon mr-2 text-body-1">
								<use xlink:href="img/icons.svg#net" />
							</svg>
							minobr.donland.ru
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>




	<%= _.template(require('../../includes/footer.html').default)() %>
</body>

</html>