<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>О нас в СМИ</title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'О нас в СМИ' }) %>


	<section class="smi">

		<a href="" class="smi-row mb-4 hover-link-wrap">
			<div class="smi-row-img">
				<img src="https://picsum.photos/600/400?random=1" alt="">
			</div>
			<div class="smi-row-content">
				<div class="text-body-1 text--demibold mb-3 hover-link">«Ростсельмаш-Лига» — отличный пример развития тэг-регби!</div>
				<div class="news-card-date flex flex-align-center mb-6">
					<svg class="icon text-body-2 fade-60 mr-2">
						<use xlink:href="img/icons.svg#calendar" />
					</svg>
					<span class="text-small">
						<span class="fade-80">07 авг 2021 • rugby.ru</span>
					</span>
				</div>
				<div class="text-body-2">
					На заседании Высшего Совета, который прошел 28 мая, выступили Президент Федерации регби Ростовской области
					Владимир Карагодин и член совета директоров компании «Ростсельмаш» — Дмитрий Геннадьевич Образцов.Они
					рассказали о реализации крупномасштабного проекта «Ростсельмаш-Ллига» на территории Ростовской области по
					тэг-регби. Турнир между различными командами школ прошел в 2020 и 2021 году, и был проведён Федерацией регби
					Ростовской...
				</div>

				<button class="btn btn--primary btn--link mt-5">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#net" />
					</svg>
					Читать в источнике
				</button>
			</div>
		</a>

		<a href="" class="smi-row mb-4 hover-link-wrap">
			<div class="smi-row-img">
				<img src="https://picsum.photos/600/400?random=2" alt="">
			</div>
			<div class="smi-row-content">
				<div class="text-body-1 text--demibold mb-3 hover-link">«Ростсельмаш-Лига» — отличный пример развития тэг-регби!</div>
				<div class="news-card-date flex flex-align-center mb-6">
					<svg class="icon text-body-2 fade-60 mr-2">
						<use xlink:href="img/icons.svg#calendar" />
					</svg>
					<span class="text-small">
						<span class="fade-80">07 авг 2021 • rugby.ru</span>
					</span>
				</div>
				<div class="text-body-2">
					На заседании Высшего Совета, который прошел 28 мая, выступили Президент Федерации регби Ростовской области
					Владимир Карагодин и член совета директоров компании «Ростсельмаш» — Дмитрий Геннадьевич Образцов.Они
					рассказали о реализации крупномасштабного проекта «Ростсельмаш-Ллига» на территории Ростовской области по
					тэг-регби. Турнир между различными командами школ прошел в 2020 и 2021 году, и был проведён Федерацией регби
					Ростовской...
				</div>

				<button class="btn btn--primary btn--link mt-5">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#net" />
					</svg>
					Читать в источнике
				</button>
			</div>
		</a>

		<a href="" class="smi-row mb-4 hover-link-wrap">
			<div class="smi-row-img">
				<img src="https://picsum.photos/600/400?random=3" alt="">
			</div>
			<div class="smi-row-content">
				<div class="text-body-1 text--demibold mb-3 hover-link">«Ростсельмаш-Лига» — отличный пример развития тэг-регби!</div>
				<div class="news-card-date flex flex-align-center mb-6">
					<svg class="icon text-body-2 fade-60 mr-2">
						<use xlink:href="img/icons.svg#calendar" />
					</svg>
					<span class="text-small">
						<span class="fade-80">07 авг 2021 • rugby.ru</span>
					</span>
				</div>
				<div class="text-body-2">
					На заседании Высшего Совета, который прошел 28 мая, выступили Президент Федерации регби Ростовской области
					Владимир Карагодин и член совета директоров компании «Ростсельмаш» — Дмитрий Геннадьевич Образцов.Они
					рассказали о реализации крупномасштабного проекта «Ростсельмаш-Ллига» на территории Ростовской области по
					тэг-регби. Турнир между различными командами школ прошел в 2020 и 2021 году, и был проведён Федерацией регби
					Ростовской...
				</div>

				<button class="btn btn--primary btn--link mt-5">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#net" />
					</svg>
					Читать в источнике
				</button>
			</div>
		</a>

		<a href="" class="smi-row mb-4 hover-link-wrap">
			<div class="smi-row-img">
				<img src="https://picsum.photos/600/400?random=4" alt="">
			</div>
			<div class="smi-row-content">
				<div class="text-body-1 text--demibold mb-3 hover-link">«Ростсельмаш-Лига» — отличный пример развития тэг-регби!</div>
				<div class="news-card-date flex flex-align-center mb-6">
					<svg class="icon text-body-2 fade-60 mr-2">
						<use xlink:href="img/icons.svg#calendar" />
					</svg>
					<span class="text-small">
						<span class="fade-80">07 авг 2021 • rugby.ru</span>
					</span>
				</div>
				<div class="text-body-2">
					На заседании Высшего Совета, который прошел 28 мая, выступили Президент Федерации регби Ростовской области
					Владимир Карагодин и член совета директоров компании «Ростсельмаш» — Дмитрий Геннадьевич Образцов.Они
					рассказали о реализации крупномасштабного проекта «Ростсельмаш-Ллига» на территории Ростовской области по
					тэг-регби. Турнир между различными командами школ прошел в 2020 и 2021 году, и был проведён Федерацией регби
					Ростовской...
				</div>

				<button class="btn btn--primary btn--link mt-5">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#net" />
					</svg>
					Читать в источнике
				</button>
			</div>
		</a>

	</section>



	<%= _.template(require('../../includes/footer.html').default)() %>
</body>

</html>