<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Видео</title>



</head>

<body>
	<%= _.template(require('../../includes/header.html').default)() %>
	<%= _.template(require('../../includes/page-top.html').default)({ page: 'Видео' }) %>



	<section class="video">
		<div class="lk-tabs tab-links ">
			<button class="lk-tabs__item tab-link active" >Видеообзоры матчей</button>
			<button class="lk-tabs__item tab-link " >Новости</button>
		</div>
	
		<div class="flex mb-10 mt-8">
			<div class="admin-select" data-toggle-cover>
				<div class="text-body-2 text--demibold">Этап</div>
				<button class="admin-select-btn btn btn--primary btn--link ml-2" data-toggle-link>
				  Муниципальный
				  <svg class="icon ml-1 text-small-2">
					<use xlink:href="img/icons.svg#triangle-right" />
				  </svg>
				</button>
				<div class="admin-select-list card py-1" data-toggle-content>
				  <div class="admin-select__item fade-60 py-1 px-4 text-body-2 text--demibold">Муниципальный</div>
				  <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">Не Муниципальный</a>
				</div>
			</div>
		</div>

		<div class="text-h6 mb-5 mb-md-8">Апрель 2021</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<% for(let i = 1; i <= 4; i++){ %>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://www.youtube.com/watch?v=dWSqqckKjVM" data-fancybox="april2021"
					class="video-card card h-100 hover-link-wrap">
					<div class="video-card-img">
						<img src="img/test-<%= i %>.jpg" alt="">

						<div class="video-card-btn">
							<img src="img/sempl/youtube-btn.svg" alt="">
						</div>
					</div>
					<div class="video-card-content">
						<div class="video-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 </span>
							</span>
						</div>
						<div class="video-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							Тарасовская школы №1 -
							финалист турнира
							«Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<% } %>

		</div>

	</section>










	<%= _.template(require('../../includes/footer.html').default)() %>

</body>

</html>