<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>



</head>

<body>
  <%= _.template(require('./includes/admin-header.html').default)() %>
  <%= _.template(require('./includes/admin-menu.html').default)() %>

  <section class="admin-content">
    <div class="text-h3 mb-6">Соревнования</div>
    <div class="flex mb-6">
      <div class="admin-select" data-toggle-cover="">
        <div class="text-body-2 text--demibold">Сезон</div>
        <button class="admin-select-btn btn btn--primary btn--link ml-2" data-toggle-link="">
          2020 -2021
          <svg class="icon ml-1 text-small-2">
            <use xlink:href="img/icons.svg#triangle-right"></use>
          </svg>
        </button>
        <div class="admin-select-list card py-1" data-toggle-content="">
          <div class="admin-select__item fade-60 py-1 px-4 text-body-2 text--demibold">2020 -2021</div>
          <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2022</a>
          <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2023</a>
        </div>
      </div>

      <button class=" ml-auto btn btn--primary btn--link" data-fancybox-modal="" data-src="dialog-lk-contest.html"
        data-type="ajax">
        <svg class="icon mr-2">
          <use xlink:href="img/icons.svg#plus"></use>
        </svg>
        <div class="text-body-2 text--demibold">Добавить сорвнование</div>
      </button>
    </div>

    <table class="admin-table w-100">
      <tr class="admin-table-head">
        <td class="admin-table-td"> </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Название</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Статус</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Сезон</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Этапы проведения</div>
        </td>
        <td class="admin-table-td"> </td>

      </tr>
      
     
      <tr>
        <td class="admin-table-td">
          <div class="text-body-2 fade-80 px-3">1</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений <br>
            Ростовской области
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="flex flex-align-center">
            <div class="image image--round image--box mr-1" style="width:12px;background: #42C912;"></div>
            <div class="text-body-2 fade-80">Проводится</div>
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">2020-2021</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            1. Внтуришкольный 2. Муниципальный 3. Зональный 4. Финал
          </div>
        </td>

        <td class="admin-table-td p-2">
          <button class="lk-team__edit btn btn--primary btn--light btn-icon">
            <svg class="icon">
              <use xlink:href="img/icons.svg#setting"></use>
            </svg>
          </button>
        </td>

      </tr>
      <tr>
        <td class="admin-table-td">
          <div class="text-body-2 fade-80 px-3">1</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений <br>
            Ростовской области
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="flex flex-align-center">
            <div class="image image--round image--box mr-1" style="width:12px;background: #FFA800;"></div>
            <div class="text-body-2 fade-80">Планируется</div>
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">2020-2021</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            1. Внтуришкольный 2. Муниципальный 3. Зональный 4. Финал
          </div>
        </td>

        <td class="admin-table-td p-2">
          <button class="lk-team__edit btn btn--primary btn--light btn-icon">
            <svg class="icon">
              <use xlink:href="img/icons.svg#setting"></use>
            </svg>
          </button>
        </td>

      </tr>
      <tr>
        <td class="admin-table-td">
          <div class="text-body-2 fade-80 px-3">1</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений <br>
            Ростовской области
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="flex flex-align-center">
            <div class="image image--round image--box mr-1" style="width:12px;background: #0B3DEF;"></div>
            <div class="text-body-2 fade-80">Прием заявок</div>
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">2020-2021</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            1. Внтуришкольный 2. Муниципальный 3. Зональный 4. Финал
          </div>
        </td>

        <td class="admin-table-td p-2">
          <button class="lk-team__edit btn btn--primary btn--light btn-icon">
            <svg class="icon">
              <use xlink:href="img/icons.svg#setting"></use>
            </svg>
          </button>
        </td>

      </tr>
      <tr>
        <td class="admin-table-td">
          <div class="text-body-2 fade-80 px-3">1</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений <br>
            Ростовской области
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="flex flex-align-center">
            <div class="image image--round image--box mr-1" style="width:12px;background: #FF0202;"></div>
            <div class="text-body-2 fade-80">Завершено</div>
          </div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">2020-2021</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            1. Внтуришкольный 2. Муниципальный 3. Зональный 4. Финал
          </div>
        </td>

        <td class="admin-table-td p-2">
          <button class="lk-team__edit btn btn--primary btn--light btn-icon">
            <svg class="icon">
              <use xlink:href="img/icons.svg#setting"></use>
            </svg>
          </button>
        </td>

      </tr>
        



    </table>
  </section>





</body>

</html>