<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>



</head>

<body>
  <%= _.template(require('./includes/admin-header.html').default)() %>
  <%= _.template(require('./includes/admin-menu.html').default)() %>

  <section class="admin-content">




    <div class="text-h3 mb-6">Команды и участники</div>

    <div class="flex flex-align-center mb-6">
      <div class="admin-select" data-toggle-cover="">
        <div class="text-body-2 text--demibold">Сезон</div>
        <button class="admin-select-btn btn btn--primary btn--link ml-2" data-toggle-link="">
          2020 -2021
          <svg class="icon ml-1 text-small-2">
            <use xlink:href="img/icons.svg#triangle-right"></use>
          </svg>
        </button>
        <div class="admin-select-list card py-1" data-toggle-content="">
          <div class="admin-select__item fade-60 py-1 px-4 text-body-2 text--demibold">2020 -2021</div>
          <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2022</a>
          <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">2020 -2023</a>
        </div>
      </div>

      <form class="admin-search form-field ml-auto">
        <div class="form-input-cover">
          <input type="text" class="form-input " placeholder="Поиск..." required>

          <div class="form-input-end pr-1">
            <button class="btn btn-icon btn-small btn--primary">
              <svg class="icon"><use xlink:href="img/icons.svg#search" /></svg>
            </button>
          </div>
        </div>
      </form>
    </div>

    <table class="admin-table">
      <tr class="admin-table-head">
        <td class="admin-table-td">
          <div class="text-small text--demibold">Лого</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Название команды</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Полное наименование образовательного учреждения</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">E-mail представителя</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Телефон представителя</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Соревнование</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Город</div>
        </td>
      </tr>
      <tr>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="image image--cover image--round image--box d-block" style="width: 36px;">
              <img src="https://picsum.photos/id/1020/600/400" alt="">
            </div>
          </a>
        </td>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="text-body-2 fade-80 text--underline py-2 px-2 d-block">Аксайские
            броненосцы</a>
        </td>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="text-body-2 fade-80">Орловская СОШ №3</div>
          </a>
        </td>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="text-body-2 fade-80">vladimirrugby@mail.ru</div>
          </a>
        </td>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="text-body-2 fade-80">8 918 000 00 00</div>
          </a>
        </td>
        <td class="admin-table-td">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="text-body-2 fade-80">
              Спартакиада по тэг-регби среди учащихся 5-6 классов
              общеобразовательных учреждений Ростовской области
            </div>
          </a>
        </td>
        <td class="admin-table-td py-2 px-2">
          <a href="admin-team-detail.html" class="d-block py-2 px-2">
            <div class="text-body-2 fade-80">Геленджик</div>
          </a>
        </td>

      </tr>


    </table>
  </section>



  <!-- fancybox modals -->

</body>

</html>