<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>



</head>

<body>
  <%= _.template(require('./includes/admin-header.html').default)() %>
  <%= _.template(require('./includes/admin-menu.html').default)() %>

  <section class="admin-content">




    <div class="text-h3 mb-6">Новые заявки</div>

    <div class="lk-tabs tab-links">
      <button class="lk-tabs__item tab-link active">Новые</button>
      <button class="lk-tabs__item tab-link ">Принятые</button>
      <button class="lk-tabs__item tab-link ">Отклоненные</button>

    </div>

    <div class="flex mb-6">
      <div class="admin-select" data-toggle-cover>
        <div class="text-body-2 text--demibold">Соревнование</div>
        <button class="admin-select-btn btn btn--primary btn--link ml-2" data-toggle-link>
          Любое
          <svg class="icon ml-1 text-small-2">
            <use xlink:href="img/icons.svg#triangle-right" />
          </svg>
        </button>
        <div class="admin-select-list card py-1" data-toggle-content>
          <div class="admin-select__item fade-60 py-1 px-4 text-body-2 text--demibold">Любое</div>
          <a href="javascript:;" class="admin-select__item py-1 px-4 text-body-2 text--demibold">Не Любое</a>
        </div>
      </div>
    </div>


    <table class="admin-table">
      <tr class="admin-table-head">
        <td class="admin-table-td">
          <div class="text-small text--demibold">Дата</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">E-mail представителя</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Телефон представителя</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Название команды</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Полное наименование образовательного учреждения</div>
        </td>
        <td class="admin-table-td">
          <div class="text-small text--demibold">Соревнование</div>
        </td>
        <td class="admin-table-td" colspan="2"> </td>
      </tr>
      <tr>
        <td class="admin-table-td">
          <div class="text-body-2 fade-80">25.01.22</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">vladimirrugby@mail.ru</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">8 918 000 00 00</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">Аксайские броненосцы</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">Орловская СОШ №3</div>
        </td>
        <td class="admin-table-td pl-2 pr-2">
          <div class="text-body-2 fade-80">
            Спартакиада по тэг-регби среди учащихся 5-6 классов
            общеобразовательных учреждений Ростовской области
          </div>
        </td>
        <td class="admin-table-td p-1">
          <button class="admin-table-btn btn btn--green btn--light btn-icon" data-fancybox-modal
            data-src="dialog-add--admin.html" data-type="ajax">
            <img src="img/icons/check-circle.svg" alt="" class="icon">
          </button>
        </td>
        <td class="admin-table-td p-1">
          <button class="admin-table-btn btn btn--red btn--light btn-icon" data-fancybox-modal
            data-src="dialog-remove--admin.html" data-type="ajax">
            <img src="img/icons/x-circle.svg" alt="" class="icon">
          </button>
        </td>
      </tr>


    </table>
  </section>



  <!-- fancybox modals -->

</body>

</html>