<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Соревнования</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Соревнования' }) %>


    <!-- Турниры -->
    <section class="tournament">
        <div class="grid grid-spacing-2 grid-spacing-md-6">
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-1 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-1.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">Кубок "Ростсельмаш" по тэг-регби
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-2 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-2.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">Кубок "Ростсельмаш" по регби-7
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-3 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-3.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">Rugby Fest</div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-4 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-4.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">
                            Финал Всероссийских
                            соревнований по тэг-регби
                            «Школьная регбийная лига»
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-4 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-placeholder.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">
                            Кубок "Ростсельмаш"
                            по тэг-регби
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-4 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-placeholder.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">
                            Кубок "Ростсельмаш"
                            по тэг-регби
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-10 grid-col-md-6 grid-col-lg-3 mx-md-0 mx-auto">
                <div class="tournament-item tournament-item-4 h-100">
                    <div class="tournament-item-dude">
                        <img src="img/sempl/dude-placeholder.png" alt="">
                    </div>
                    <div class="tournament-item-content">
                        <div class="text-body-1 text--demibold text--center">
                            Кубок "Ростсельмаш"
                            по тэг-регби
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>