<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Контакты</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Контакты' }) %>


	<section class="contact">
		<div class="contact-content">
			<div class="contact-link">
				<div class="contact-link-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#map" />
					</svg>
				</div>
				<div class="contact-link-content">
					<div class="text-body-0 text--demibold mb-1">Адрес</div>
					<div class="text-body-1">Ростов-на-дону, ул. 1-й конной армии 4е</div>
				</div>
			</div>
			<a class="contact-link hover-link-wrap" href="tel:+7(863)333-26-63">
				<div class="contact-link-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#phone" />
					</svg>
				</div>
				<div class="contact-link-content">
					<div class="text-body-0 text--demibold mb-1">Телефон</div>
					<div class="text-body-1 hover-link">+7(863)333-26-63</div>
				</div>
			</a>
			<a class="contact-link hover-link-wrap" href="mailto:info@rsmliga.ru">
				<div class="contact-link-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#mail" />
					</svg>
				</div>
				<div class="contact-link-content">
					<div class="text-body-0 text--demibold mb-1">Почта</div>
					<div class="text-body-1 hover-link">info@rsmliga.ru</div>
				</div>
			</a>
			<div class="contact-link">
				<div class="contact-link-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#i" />
					</svg>
				</div>
				<div class="contact-link-content">
					<div class="text-body-0 text--demibold mb-1">Реквизиты</div>
					<div class="text-body-1">ИНН/КПП 6166120286 / 616601001</div>
				</div>
			</div>


			<div class="text-body-0 text--demibold mt-10">Мы в социальных сетях:</div>
			<div class="flex mt-5">
				<a href="" class="btn btn--white btn--fill btn-fab"><img src="img/sempl/inst.png" alt=""
						class="icon text-subtitle-2"> </a>
				<a href="" class="btn btn--white btn--fill btn-fab ml-3"><img src="img/sempl/yt.png" alt=""
						class="icon text-subtitle-2"> </a>
				<a href="" class="btn btn--white btn--fill btn-fab ml-3"><img src="img/sempl/vk.png" alt=""
						class="icon text-subtitle-2"> </a>
			</div>
		</div>
		<div class="contact-map">
			<div class="contact-map-inner" id="contact-map"></div>
		</div>
	</section>
	<script>
		window.addEventListener('load', () => {

			const init = () => {
				var myMap = new ymaps.Map('contact-map', {
					center: [47.245365, 39.759866],
					zoom: 16,
					controls: ['zoomControl']
				});

				MyIconContentLayout = ymaps.templateLayoutFactory.createClass();

				myPlacemark = new ymaps.Placemark([47.245365, 39.759866], {
					balloonContent: ''
				}, {
					iconLayout: 'default#image',
					iconImageHref: 'img/icons/location.svg',
					iconImageSize: [50, 50],
					iconImageOffset: [-25, -50]
				});

				myMap.geoObjects.add(myPlacemark);
				myMap.behaviors.disable('scrollZoom');
			}

			if (typeof ymaps == 'undefined') {
				const script = document.createElement('script');
				script.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';
				document.body.appendChild(script);
				script.onload = () => {
					ymaps.ready(init);
				}
			} else {
				init()
			}

		})
	</script>




	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>