<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Личный кабинет</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>


	<section>

		<div class="lk-tabs tab-links">
			<button class="lk-tabs__item tab-link ">Инфо о команде</button>
			<button class="lk-tabs__item tab-link active">Игры команды</button>

		</div>

		<div class="lk-games">
			<table class="lk-games-table">
				<tr class="lk-games-head">
					<td class="lk-games-table__name">
						<div class="text-body-2 text--demibold">Команды</div>
					</td>
					<td class="lk-games-table__score">
						<div class="text-body-2 text--demibold">Результат</div>
					</td>
					<td class="lk-games-table__date">
						<div class="text-body-2 text--demibold">Дата</div>
					</td>
					<td class="lk-games-table__location">
						<div class="text-body-2 text--demibold">Место проведения</div>
					</td>
					<td class="lk-games-table__step">
						<div class="text-body-2 text--demibold">Этап</div>
					</td>
					<td class="lk-games-table__tour">
						<div class="text-body-2 text--demibold">Турнир</div>
					</td>
					<td class="lk-games-table__edit"></td>
				</tr>
			</table>
		</div>

		<div class="plug card">
			<div class="plug__pic mb-7 color-primary">
			  <svg class="plug__icon icon">
				<use xlink:href="img/icons.svg#ball-1" />
			  </svg>
			</div>
			<div class="plug__title text-h6 mb-2">Скоро здесь будут матчи вашей команды</div>
		</div>



	</section>


	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>