<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Журнал "РСМ-лига"</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Журнал "РСМ-лига"' }) %>


	<section class="magazin">
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="magazin-card h-100">
					<div class="magazin-card-img">
						<img src="img/sempl/pdf.png" alt="">
					</div>
					<div class="magazin-card-content">
						<div class="text-body-2 text--demibold">Журнал "РСМ-лига", апрель 2021</div>
						<button class="magazin-card-btn btn btn--primary btn--link mt-1">
							<div class="text--regular">Смотреть</div>
						</button>
					</div>
				</div>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="magazin-card h-100">
					<div class="magazin-card-img">
						<img src="img/sempl/pdf.png" alt="">
					</div>
					<div class="magazin-card-content">
						<div class="text-body-2 text--demibold">Журнал "РСМ-лига", апрель 2021</div>
						<button class="magazin-card-btn btn btn--primary btn--link mt-1">
							<div class="text--regular">Смотреть</div>
						</button>
					</div>
				</div>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="magazin-card h-100">
					<div class="magazin-card-img">
						<img src="img/sempl/pdf.png" alt="">
					</div>
					<div class="magazin-card-content">
						<div class="text-body-2 text--demibold">Журнал "РСМ-лига", апрель 2021</div>
						<button class="magazin-card-btn btn btn--primary btn--link mt-1">
							<div class="text--regular">Смотреть</div>
						</button>
					</div>
				</div>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="magazin-card h-100">
					<div class="magazin-card-img">
						<img src="img/sempl/pdf.png" alt="">
					</div>
					<div class="magazin-card-content">
						<div class="text-body-2 text--demibold">Журнал "РСМ-лига", апрель 2021</div>
						<button class="magazin-card-btn btn btn--primary btn--link mt-1">
							<div class="text--regular">Смотреть</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>


	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>