<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Карта конференций</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Карта конференций' }) %>


	<script>
		// Generator random values functions 
		function generateTeam() {
			const lit1 = ['МБОУ', 'МАОУ', 'ООО', 'ФЗЧХВФ']
			const lit2 = ['Егорлыкская ', 'имени Г.В. Алисова', 'Новобатайская', 'имени Г.В. Ушакова', 'Калининская']
			const lit3 = ['СОШ', 'БОШ', 'САШ', 'ВЫЧФЧЫВФ', 'ПСОШ']

			return {
				id: lit1[Math.floor(Math.random() * lit1.length)] + '_' + Math.floor(1 + Math.random() * 10000),
				title: lit1[Math.floor(Math.random() * lit1.length)] + ' ' +
					lit2[Math.floor(Math.random() * lit2.length)] + ' ' +
					lit3[Math.floor(Math.random() * lit3.length)] + ' №' + Math.floor(Math.random() * 1000),
				rating: Math.floor(1 + Math.random() * 2000),
			}
		}

		function generateTeams() {
			return [
				{
					title: 'Выберите команду',
					items: new Array(Math.floor(1 + Math.random() * 6)).fill(true).map(generateTeam)
				},
			]
		}

		function generateSchool() {
			const lit1 = ['МБОУ', 'МАОУ', 'ООО', 'ФЗЧХВФ']
			const lit2 = ['СОШ', 'БОШ', 'САШ', 'ВЫЧФЧЫВФ', 'ПСОШ']
			return {
				id: lit1[Math.floor(Math.random() * lit1.length)] + '_' + Math.floor(1 + Math.random() * 10000),
				title: lit1[Math.floor(Math.random() * lit1.length)] + ' ' +
					lit2[Math.floor(Math.random() * lit2.length)] + ' №' + Math.floor(Math.random() * 1000),
				rating: Math.floor(1 + Math.random() * 2000),
				teams: generateTeams()
			}
		}

		function generateSchools() {
			return [
				{
					title: 'Выберите школу',
					items: new Array(Math.floor(1 + Math.random() * 6)).fill(true).map(generateSchool)
				},
				{
					title: 'Выберите спортивную школу',
					items: new Array(Math.floor(1 + Math.random() * 6)).fill(true).map(generateSchool)
				},
			]
		}

		function generateGallery() {
			return new Array(Math.floor(1 + Math.random() * 10)).fill(true).map(() => ({
				src: 'https://picsum.photos/1920/1080?random=' + Math.floor(Math.random() * 1000),
				type: Math.random() < 0.25 ? 'video' : ''
			}))
		}

		function generateDescription() {

			return {
				text: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Правилами страна предупреждал переписали рыбного океана составитель назад от всех, по всей заголовок большой домах снова, его безопасную повстречался? Рыбного, взгляд текстами повстречался вскоре необходимыми сбить не журчит буквенных текстов страну, последний пунктуация имени которой. Буквенных букв агентство запятых свой дал точках составитель снова всемогущая инициал предупреждал, родного, щеке которой свое ты заглавных курсивных о обеспечивает домах пунктуация проектах ведущими, безопасную свою возвращайся? Коварных свое жаренные диких приставка толку заголовок. Продолжил маленький знаках себя что последний это текст назад пустился ее грустный она текстами дал деревни, языком, жаренные которой грамматики буквенных! Бросил?',
				gallery: generateGallery()

			}
		}

		window.ASSETS_PART = ''
		window.conferenceData = {
			north: {
				id: 'north',
				title: 'Северная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),

				areas: {
					verhnedonskoj: {
						id: 'verhnedonskoj',
						title: 'Верхнедонской р-н ',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					sholohovskij: {
						id: 'sholohovskij',
						title: 'Шолоховский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					chertkovskij: {
						id: 'chertkovskij',
						title: 'Чертковский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					millerovskij: {
						id: 'millerovskij',
						title: 'Миллеровский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					kasharskij: {
						id: 'kasharskij',
						title: 'Кашарский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					bokovskij: {
						id: 'bokovskij',
						title: 'Боковский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					tarasovskij: {
						id: 'tarasovskij',
						title: 'Тарасовский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					sovetskij: {
						id: 'sovetskij',
						title: 'Советский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
				}
			},
			northEast: {
				id: 'northEast',
				title: 'Северо-восточная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					milyutinskij: {
						id: 'milyutinskij',
						title: 'Милютинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					oblivskij: {
						id: 'oblivskij',
						title: 'Обливский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					belokalitvinskij: {
						id: 'belokalitvinskij',
						title: 'Бело- калитвинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					tacinskij: {
						id: 'tacinskij',
						title: 'Тацинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					morozovskij: {
						id: 'morozovskij',
						title: 'Морозовский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					cimlyanskij: {
						id: 'cimlyanskij',
						title: 'Цимлянский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					volgodonskoj: {
						id: 'volgodonskoj',
						title: 'Волгодонской р-н ',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
				}
			},
			northWest: {
				id: 'northWest',
				title: 'Северо-западная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					kamenskij: {
						id: 'kamenskij',
						title: 'Каменский р-н ',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					krasnosulinskij: {
						id: 'krasnosulinskij',
						title: 'Красносулинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
				}

			},
			east: {
				id: 'east',
				title: 'Восточная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					martynovskij: {
						id: 'martynovskij',
						title: 'Мартыновский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					proletarskij: {
						id: 'proletarskij',
						title: 'Пролетарский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					salskij: {
						id: 'salskij',
						title: 'Сальский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					dubovskij: {
						id: 'dubovskij',
						title: 'Дубовский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					zimovnikovskij: {
						id: 'zimovnikovskij',
						title: 'Зимовниковский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					orlovskij: {
						id: 'orlovskij',
						title: 'Орловский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					zavetinskij: {
						id: 'zavetinskij',
						title: 'Заветинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					remontnenskij: {
						id: 'remontnenskij',
						title: 'Ремонтненский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
				}
			},
			west: {
				id: 'west',
				title: 'Западная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					kujbyshevskij: {
						id: 'kujbyshevskij',
						title: 'Куйбышевский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					matveevokurganskij: {
						id: 'matveevokurganskij',
						title: 'Матвеево-Курганский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					rodionovonesvetajskij: {
						id: 'rodionovonesvetajskij',
						title: 'Родионово- Несветайский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					neklinovskij: {
						id: 'neklinovskij',
						title: 'Неклиновский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					myasnikovskij: {
						id: 'myasnikovskij',
						title: 'Мясниковский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					aksajskij: {
						id: 'aksajskij',
						title: 'Аксайский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
				}
			},
			south: {
				id: 'south',
				title: 'Южная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					azovskij: {
						id: 'azovskij',
						title: 'Азовский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					kagalnickij: {
						id: 'kagalnickij',
						title: 'Кагальницкий р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					zernogradskij: {
						id: 'zernogradskij',
						title: 'Зерноградский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					celinskij: {
						id: 'celinskij',
						title: 'Целинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					egorlykskij: {
						id: 'egorlykskij',
						title: 'Егорлыкский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					peschanokopskij: {
						id: 'peschanokopskij',
						title: 'Песчанокопский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
				}
			},
			middle: {
				id: 'middle',
				title: 'Центральная конференция',
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					oktyabrskij: {
						id: 'oktyabrskij',
						title: 'Октябрьский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					ustdoneckij: {
						id: 'ustdoneckij',
						title: 'Усть- Донецкий р-н',
						rating: Math.floor(1 + Math.random() * 2000),

					},
					konstantinovskij: {
						id: 'konstantinovskij',
						title: 'Константиновский р-н',
						rating: Math.floor(1 + Math.random() * 2000),

					},
					bagaevskij: {
						id: 'bagaevskij',
						title: 'Багаевский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					semikarakorskij: {
						id: 'semikarakorskij',
						title: 'Семи- каракорский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
					},
					veselovskij: {
						id: 'veselovskij',
						title: 'Веселовский р-н',
						rating: Math.floor(1 + Math.random() * 2000),

					},
				}
			},
			rostov: {
				id: 'rostov',
				title: 'Ростов-на-Дону',
				type: 'dot',
				coords: [260, 653],
				rating: Math.floor(1 + Math.random() * 2000),
				place: Math.floor(1 + Math.random() * 15),
				areas: {
					voroshilovskij: {
						id: 'voroshilovskij',
						title: 'Ворошиловский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					zheleznodorozhnyj: {
						id: 'zheleznodorozhnyj',
						title: 'Железнодорожный р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					kirovskij: {
						id: 'kirovskij',
						title: 'Кировский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					leninskij: {
						id: 'leninskij',
						title: 'Ленинский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					oktyabrskij: {
						id: 'oktyabrskij',
						title: 'Октябрьский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					pervomajskij: {
						id: 'pervomajskij',
						title: 'Первомайский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					proletarskij: {
						id: 'proletarskij',
						title: 'Пролетарский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
					sovetskij: {
						id: 'sovetskij',
						title: 'Советский р-н',
						rating: Math.floor(1 + Math.random() * 2000),
						schools: generateSchools(),
						description: generateDescription(),
					},
				},
			}
		}

		console.log(window.conferenceData);
	</script>

	<section class="map-page" id="conference-map">


	</section>



	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>