<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Новый раздел </title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Новый раздел' }) %>


	<section class="content">
		<div class="card p-6 mb-2">
			<div class="text-h6 mb-8">
				Соревнования по тэг-регби среди команд 2011-2012 г.р. общеобразовательных учреждений
				Ростовской области
			</div>
			<div class="content-list">
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-body-2 text--bold">1</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
					</div>
				</div>
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-body-2 text--bold">2</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
					</div>
				</div>
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-body-2 text--bold">3</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">1 этап</div>
						<div class="text-body-2">Внутришкольный (январь-февраль)</div>
					</div>
				</div>
				<div class="content-list-item mb-5">
					<div class="content-list-item__before">
						<div class="text-small text--bold">
							<svg class="icon">
								<use xlink:href="img/icons.svg#flag" />
							</svg>
						</div>
					</div>
					<div class="content-list-item__content">
						<div class="text-body-2 text--demibold">ФИНАЛ <span class="text--regular">(май)</span></div>
					</div>
				</div>
			</div>
		</div>

		<div class="final-alert py-5 px-6">
			<div class="final-alert__img">
				<svg class="icon">
					<use xlink:href="img/icons.svg#trophy" />
				</svg>
			</div>
			<div class="final-alert__content">
				<div class="text-md-h6 text-body-1 text--demibold mb-1">Финал Всероссийских соревнований по тэг-регби «Школьная регбийная лига»</div>
				<div class="text-body-2">20-23 мая - г. Геленджик, детский оздоровительный лагерь «Нива»</div>
			</div>
		</div>

		<div class="mt-md-10 mt-5"></div>
		<div class="text-h6 mb-7">Фотогалерея</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=1" class="image image--box" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=1" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=2" class="image image--box" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=2" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=3" class="image image--box" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=3" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=4" class="image image--box" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=4" alt="">
				</a>
			</div>

		</div>



		<div class="mt-md-10 mt-5"></div>
		<div class="text-subtitle-1 text-md-h6 mb-5 mb-md-8">Документы</div>
		<div class="docs-block">
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
		</div>

	</section>

	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>