<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Новости</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Новости' }) %>


	<section class="news">


		<div class="flex flex-align-center mb-6">
			<div class="text-body-2 mr-4">Сортировка</div>

			<div class="sort">
				<select name="" id="" class="sort-select">
					<option value="">Все новости </option>
					<option value="">Не все новости </option>
				</select>
				<div class="sort-icon">
					<svg class="icon">
						<use xlink:href="img/icons.svg#to-right" />
					</svg>
				</div>
			</div>
		</div>


		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=11" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-blue text--demibold">Популярное</span>
							</span>
						</div>
						<div class="news-card-tags">
							<div class="news-card-tag"><span>Новое</span></div>
							<div class="news-card-tag"><span>Муниципальные</span></div>
							<div class="news-card-tag"><span>Кубок Ростсельмаш</span></div>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=12" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=13" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-primary text--demibold">Кубок
									"Ростсельмаш"</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=14" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-green text--demibold">Муниципальные</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=15" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span style="color: #27A4AC;"
									class="text--demibold">Ассоциация РСМ</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=16" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=17" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="news-card  card h-100 hover-link-wrap">
					<div class="news-card-img">
						<img src="https://picsum.photos/600/400?random=18" alt="">
					</div>
					<div class="news-card-content">
						<div class="news-card-date flex flex-align-center mb-3">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small">
								<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
							</span>
						</div>
						<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
							28 мая состоялся Высший
							совет Федерации регби
							России
						</div>
					</div>
				</a>
			</div>
		</div>


		<div class="flex flex-justify-center mt-10">
			<button class="btn btn-small btn-icon btn--primary btn--contur mx-1">
				<svg class="icon text-small-1">
					<use xlink:href="img/icons.svg#to-left" />
				</svg>
			</button>
			<button class="btn btn-small btn-icon btn--primary btn--fill mx-1"> 1 </button>
			<button class="btn btn-small btn-icon btn--primary btn--contur mx-1"> 2 </button>
			<div class="btn btn-small btn-icon btn--primary btn--contur mx-1"> ... </div>
			<button class="btn btn-small btn-icon btn--primary btn--contur mx-1"> 3 </button>
			<button class="btn btn-small btn-icon btn--primary btn--contur mx-1"> 4 </button>
			<button class="btn btn-small btn-icon btn--primary btn--contur mx-1">
				<svg class="icon text-small-1">
					<use xlink:href="img/icons.svg#to-right" />
				</svg>
			</button>
		</div>
	</section>





	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>