<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Внутренняя новость</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Внутренняя новость' }) %>



	<section class="news-inner">
		<div class="news-inner-block">
			<div class="news-inner-preview mb-7">
				<div class="news-inner-preview-img">
					<img src="https://picsum.photos/600/400" alt="">
				</div>
				<div class="news-inner-preview-content">
					<div class="text-subtitle-1 text-md-h4 mb-5">
						Победителем детского турнира по тэг-регби
						«Ростсельмаш-лига» стала школа №111
						Ростова-на-Дону.
					</div>

					<div class="news-card-date flex flex-align-center mb-3">
						<svg class="icon text-body-2 fade-60 mr-2">
							<use xlink:href="img/icons.svg#calendar" />
						</svg>
						<span class="text-small">
							<span class="fade-80">07 авг 2021</span>
						</span>
					</div>

					<div class="text-body-2 mt-5">
						В мае этого года на площадке ростовского Дворца спорта прошел финальный этап крупнейшего
						детского турнира по тэг-регби Ростовской области — «Ростсельмаш-лиги».

					</div>
				</div>
			</div>
			<div class="text-body-2 fade-80 news-inner-text mb-10">
				Лучшие команды школ нашего региона боролись за главный спортивный трофей! Его обладателем стала школа №111
				Ростова-на-Дону. В качестве приза от ГК «Ростсельмаш» ребята получили путевку в детский оздоровительный лагерь
				«Нива», который расположен в Геленджике.
				<br><br>
				Уже сегодня, 7 августа, двенадцать маленьких победителей «Ростсельмаш-лиги» сезона 2020/21 под руководством
				своего тренера отправились в Краснодарский край. В лагере на берегу моря ребята будут тренироваться и готовиться
				к новым соревнованиям до 27 августа.
				<br><br>
				Желаем маленьким спортсменам прек расно отдохнуть, потренироваться и набраться сил к новому сезону! Он будет еще
				интереснее!
			</div>

			<div class="grid grid-spacing-md-5 grid-spacing-2">
				<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
					<a href="https://picsum.photos/1920/1080?random=1" class="image image--rectangle" data-fancybox="gallery">
						<img src="https://picsum.photos/600/400?random=1" alt="">
					</a>
				</div>
				<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
					<a href="https://picsum.photos/1920/1080?random=2" class="image image--rectangle" data-fancybox="gallery">
						<img src="https://picsum.photos/600/400?random=2" alt="">
					</a>
				</div>
				<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
					<a href="https://picsum.photos/1920/1080?random=3" class="image image--rectangle" data-fancybox="gallery">
						<img src="https://picsum.photos/600/400?random=3" alt="">
					</a>
				</div>
				<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
					<a href="https://picsum.photos/1920/1080?random=4" class="image image--rectangle" data-fancybox="gallery">
						<img src="https://picsum.photos/600/400?random=4" alt="">
					</a>
				</div>

			</div>
		</div>
	</section>




	<section class="index-news">
		<div class="d-md-flex flex-align-center mb-md-7 mb-5">
			<div class="text-h6 text-md-h4">Другие новости</div>
		</div>
		<div class="index-news-slider slider">
			<div class="swiper grid-wrap grid-spacing-2 grid-spacing-md-5">
				<div class="swiper-wrapper">
					<div class="grid-col-8 grid-col-md-4 grid-col-lg-3 swiper-slide">
						<a href="" class="news-card  card h-100 hover-link-wrap">
							<div class="news-card-img">
								<img src="https://picsum.photos/600/400?random=11" alt="">
							</div>
							<div class="news-card-content">
								<div class="news-card-date flex flex-align-center mb-3">
									<svg class="icon text-body-2 fade-60 mr-2">
										<use xlink:href="img/icons.svg#calendar" />
									</svg>
									<span class="text-small">
										<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
									</span>
								</div>
								<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
									28 мая состоялся Высший
									совет Федерации регби
									России
								</div>
							</div>
						</a>
					</div>
					<div class="grid-col-8 grid-col-md-4 grid-col-lg-3 swiper-slide">
						<a href="" class="news-card  card h-100 hover-link-wrap">
							<div class="news-card-img">
								<img src="https://picsum.photos/600/400?random=12" alt="">
							</div>
							<div class="news-card-content">
								<div class="news-card-date flex flex-align-center mb-3">
									<svg class="icon text-body-2 fade-60 mr-2">
										<use xlink:href="img/icons.svg#calendar" />
									</svg>
									<span class="text-small">
										<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
									</span>
								</div>
								<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
									28 мая состоялся Высший
									совет Федерации регби
									России
								</div>
							</div>
						</a>
					</div>
					<div class="grid-col-8 grid-col-md-4 grid-col-lg-3 swiper-slide">
						<a href="" class="news-card  card h-100 hover-link-wrap">
							<div class="news-card-img">
								<img src="https://picsum.photos/600/400?random=13" alt="">
							</div>
							<div class="news-card-content">
								<div class="news-card-date flex flex-align-center mb-3">
									<svg class="icon text-body-2 fade-60 mr-2">
										<use xlink:href="img/icons.svg#calendar" />
									</svg>
									<span class="text-small">
										<span class="fade-80">07 авг 2021 • </span><span class="color-yellow text--demibold">Новое</span>
									</span>
								</div>
								<div class="news-card-title text-body-2 text-md-body-1 text--demibold hover-link">
									28 мая состоялся Высший
									совет Федерации
								</div>
							</div>
						</a>
					</div>
					<div class="grid-col-8 grid-col-md-4 grid-col-lg-3 swiper-slide">
						<a href="" class="news-card  card h-100 news-card--popular hover-link-wrap">
							<div class="news-card-img">
								<img src="https://picsum.photos/600/400?random=14" alt="">
							</div>
							<div class="news-card-content">
								<div class="news-card-date flex flex-align-center mb-3">
									<svg class="icon text-body-2 color-white fade-60 mr-2">
										<use xlink:href="img/icons.svg#calendar" />
									</svg>
									<span class="text-small">
										<span class="fade-80  color-white">07 авг 2021 • </span><span
											class="color-green text--demibold">Популярное</span>
									</span>
								</div>
								<div class="news-card-title text-body-2 text-md-body-1 text--demibold  color-white hover-link">
									28 мая состоялся Высший
									совет Федерации регби
									России
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>

			<button class="slider-btn slider-prev d-none d-md-flex d-lg-none">
				<svg class="icon">
					<use xlink:href="img/icons.svg#to-left" />
				</svg>
			</button>
			<button class="slider-btn slider-next d-none d-md-flex d-lg-none">
				<svg class="icon">
					<use xlink:href="img/icons.svg#to-right" />
				</svg>
			</button>
		</div>


	</section>
	<script>
		new Swiper('.index-news-slider .swiper', {
			slidesPerView: 'auto',
			watchSlidesProgress: true,
			navigation: {
				nextEl: '.index-news-slider .slider-next',
				prevEl: '.index-news-slider .slider-prev'
			}
		})
	</script>





	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>