<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Фото внутри</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Фото внутри' }) %>



	<section class="photos-inner">
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=1" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=1" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=2" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=2" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=3" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=3" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=4" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=4" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=5" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=5" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=6" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=6" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=7" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=7" alt="">
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="https://picsum.photos/1920/1080?random=8" class="image image--rectangle" data-fancybox="gallery">
					<img src="https://picsum.photos/600/400?random=8" alt="">
				</a>
			</div>
		</div>
	</section>



	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>