<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Фотоальбомы</title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Фотоальбомы' }) %>

	<section class="photos">
		<div class="text-subtitle-1 text-md-h6 mb-5 mb-md-8">Апрель 2021</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=41" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=42" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=43" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=44" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="mt-10"></div>
		<div class="text-subtitle-1 text-md-h6 mb-5 mb-md-8">Март 2021</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=1" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=2" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=3" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="photos-inner.html" class="photo-card  card h-100 hover-link-wrap">
					<div class="photo-card-img">
						<img src="https://picsum.photos/600/400?random=4" alt="">

						<div class="photo-card-control">
							<div class="flex flex-align-center color-white">
								<svg class="icon text-body-2 mr-2">
									<use xlink:href="img/icons.svg#photos" />
								</svg>
								<div class="text-body-2">10 фото</div>
							</div>
						</div>
					</div>
					<div class="photo-card-content">
						<div class="news-card-date flex flex-align-center">
							<svg class="icon text-body-2 fade-60 mr-2">
								<use xlink:href="img/icons.svg#calendar" />
							</svg>
							<span class="text-small fade-80">07 авг 2021</span>
						</div>
						<div class="text-body-2 text-md-body-1 text--demibold mt-3 hover-link">
							Тарасовская школы №1 - финалист
							турнира «Ростсельмаш-лига»
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>




	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>