<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условия доставки и возврата товара </title>



</head>

<body>
    <%= _.template(require('./includes/header.html').default)() %>
        <%= _.template(require('./includes/page-top.html').default)({ page: 'Условия доставки и возврата товара' }) %>


            <section class="content">
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text--demibold">Заказы передаются в доставку только после 100% оплаты </div>
                </div>
                <!-- Подтверждение и передача заказа -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Подтверждение и передача заказа
                    </div>
                    <div class="text-body-2 lh-1-5">
                        Заказы, сформированные до 12:00, подтверждаются с понедельника по пятницу и передаются для
                        доставки в курьерскую службу. Заказы, сформированные после 12:00,
                        подтверждаются в следующий рабочий день.
                    </div>
                </div>
                <!-- Доставка -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Доставка
                    </div>
                    <div class="text-body-2 lh-1-5">
                        После передачи заказа в курьерскую службу, доставка осуществляется до двери Вашего дома или до
                        ближайшего почтового отделения. Сроки и стоимость доставки
                        рассчитываются автоматически при оформлении заказа в интернет-магазине. Внимание! Срок доставки
                        при оформлении заказа на сайте указывается ориентировочный
                        и может быть увеличен на 3–4 дня. Доставка по Ростову-на-Дону осуществляется в рабочие дни с 10
                        до 17 часов (по согласованию с менеджером интернет-магазина
                        день и время доставки могут быть скорректированы)
                    </div>
                </div>
                <!-- Самовывоз -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Самовывоз
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        Пункт выдачи заказов находится по адресу: г. Ростов-на-Дону, ул. Менжинского, 2Л, офис 106
                    </div>
                    <div class="text-body-2 lh-1-5 text--demibold mb-2"> Режим работы </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        Пн-Пт с 10 до 17 часов (обед с 13 до 14)
                    </div>
                    <div class="text-body-2 lh-1-5 text--demibold mb-2"> Обратите внимание! </div>
                    <ul class="text-body-2 text-ul">
                        <li class="text-ul-item">
                            Заказы, оплаченные до 11 часов, можно забрать в тот же день (при условии, что он рабочий).
                            После 11 часов - начиная со следующего рабочего дня.
                        </li>
                        <li class="text-ul-item">Забрать заказ в пункте выдачи может только тот, кто его оформил. При
                            себе необходимо иметь документ, удостоверяющий личность.</li>
                        <li class="text-ul-item">В выходные и праздничные дни пункт выдачи заказов не работает.</li>
                    </ul>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-body-2 lh-1-5 mb-5">
                        Обмен и возврат товара осуществляются в соответствии с действующими нормативно-правовыми актами
                        Российской Федерации, регулирующими права потребителей
                        и правила продажи товаров дистанционным способом. Потребитель вправе отказаться от товара в
                        любое время до его передачи.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        Обратите внимание, что заказы С НАНЕСЕНИЕМ производятся ТОЛЬКО ПОСЛЕ 100% ПРЕДОПЛАТЫ. Данный
                        товар возврату и обмену не подлежит.
                        Чтобы минимизировать негативные ситуации или в принципе избежать их появления, важно помнить о
                        существовании ряда правил:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        — Подача заявки и возврат заказа осуществляются одновременно, в течение 7 дней с даты покупки
                        товара (п.4 ст.26.1 Закона РФ от 07.02.1992 N 2300-1 "О защите прав
                        потребителей"). Превышение срока подачи заявки ведет к оставлению заявки без рассмотрения.
                        Обратное перечисление денежных средств покупателю производится
                        только после получения товара продавцом. Все транспортные расходы по возвращению или обмену
                        товара возлагаются на покупателя.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        — Отличие элементов дизайна или оформления от заявленных в описании на сайте не является
                        неисправностью или не функциональностью товара. Приведенные
                        изображения на сайте могут незначительно отличаться от действительного вида продукции. Это может
                        быть связано с различием в разрешении и яркости мониторов,
                        а потому не является недостатком товара. Надеемся на Ваше понимание.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        — Гарантия на товары, приобретенные в нашем интернет-магазине, устанавливается производителем.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        — В соответствии с Постановлением Правительства РФ от 19.01.1998 N 55 в перечень
                        непродовольственных товаров, не подлежащих обмену и возврату, включаются:
                        <ul class="text-body-2 text-ul mt-2 ml-3">
                            <li class="text-ul-item">непериодические издания (календари, книги, буклеты); </li>
                            <li class="text-ul-item">чулочно-носочные изделия; </li>
                            <li class="text-ul-item">трикотажные изделия (в том числе постельное белье, полотенца).
                            </li>
                        </ul>


                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        — Для оформления обмена или возврата необходимо предоставить паспортные данные.

                        В заявке необходимо указать:
                        <ul class="text-body-2 text-ul mt-2 ml-3">
                            <li class="text-ul-item">номер заказа;</li>
                            <li class="text-ul-item">причину возврата;</li>
                            <li class="text-ul-item">требование.</li>
                        </ul>


                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        Свяжитесь с нами удобным способом и подробно опишите возникшую проблему.
                    </div>


                </div>
                <!-- Обмен -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Обмен
                    </div>
                    <div class="text-body-2 lh-1-5">
                        Для обмена товара надлежащего качества необходимо скачать и заполнить заявление, которое
                        необходимо лично привезти вместе с товаром, подлежащим обмену,
                        в офис Ассоциации или отправить по указанному ниже адресу вместе с товаром, подлежащим обмену
                        (Россия, СНГ и остальные страны).
                    </div>
                </div>
                <!--  Обмен на аналогичный товар -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Обмен на аналогичный товар
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Обмен товара на аналогичный возможен, если аналогичный товар есть в наличии. В случае обмена
                        товара надлежащего качества на аналогичный товар, необходимо
                        повторно оплатить стоимость услуг доставки. В случае обмена товара ненадлежащего качества на
                        аналогичный товар, возврат некачественного товара и доставка
                        аналогичного товара будут осуществлены бесплатно.
                    </div>
                    <div class="text-body-2 lh-1-5 ">
                        Обмен товара осуществляется в офисе Ассоциации по адресу:
                        г. Ростов-на-Дону, ул. Менжинского, 2Л, офис 106, в будние дни с 10-00 до 17-00 (обед с 13 до
                        14).
                        Почтовый адрес для отправки товара из других населённых пунктов Хабаровского края, регионов РФ и
                        стран:
                        344029, Ростовская область, г. Ростов-на-Дону, ул. Менжинского, 2Л, офис 106, Ассоциация
                        «Ростсельмаш – лига» (Интернет-магазин).
                        Обратите внимание, что для обмена товара необходимо предварительно связаться с нами по телефону
                        8 (863) 333-26-63 или электронной почте – shop@rsmliga.ru
                    </div>
                    <div class="mt-5 flex">
                        <button class="btn  btn--primary btn--fill">Заявление на обмен</button>
                    </div>
                </div>
                <!-- Возврат денежных средств -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Возврат денежных средств
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Сумму возврата составляет стоимость товара в день его заказа покупателем.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Если товар является товаром надлежащего качества, продавец обязуется произвести обратное
                        перечисление денежных средств покупателю в течение 10 дней со дня
                        получения товара назад (если доставка была платной, то из суммы возврата вычитается сумма за
                        доставку).
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Если товар является товаром ненадлежащего качества, продавец обязуется произвести обратное
                        перечисление денежных средств покупателю в течение 10 дней со дня
                        предъявления потребителем соответствующего требования, либо со дня получения товара назад по
                        требованию продавца.
                    </div>
                    <div class="text-body-2 lh-1-5 ">
                        Если осуществляется возврат средств на банковскую карту или электронный кошелек, то срок
                        зачисления зависит от соответствующих правил конкретной платежной
                        системы или банка эмитента.
                    </div>
                    <div class="mt-5 flex">
                        <button class="btn  btn--primary btn--fill">Заявление на возврат денежных средств</button>
                    </div>
                </div>
                <!-- Возврат товара надлежащего качества -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Возврат товара надлежащего качества
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Вернуть товар надлежащего качества, если он не подходит Вам по размеру, цвету, фасону или любой
                        другой причине в течение 7 дней с даты покупки можно при
                        соблюдении следующих условий:
                        <ul class="text-body-2 text-ul mt-2 ml-3">
                            <li class="text-ul-item">
                                товар и упаковка обладают первоначальным товарным видом (сохранены упаковка, ярлыки,
                                потребительские свойства);
                            </li>
                            <li class="text-ul-item">
                                срок подачи заявки с предъявлением требований не должен превышать 7 дней с момента
                                получения заказа.
                            </li>
                        </ul>
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Продавец обязуется произвести обратное перечисление денежных средств покупателю в течение 10
                        дней со дня получения товара назад.
                    </div>
                    <div class="text-body-2 lh-1-5 ">
                        Затраты по возврату товара надлежащего качества оплачивает покупатель.
                    </div>
                </div>
                <!-- Возврат товара ненадлежащего качества -->
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        Возврат товара ненадлежащего качества
                    </div>

                    <div class="text-body-2 lh-1-5 mb-4">
                        Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может
                        обеспечить исполнение своих функциональных качеств.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Отличие элементов дизайна или оформления от заявленных в описании на сайте не является
                        неисправностью или не функциональностью товара.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Срок подачи заявки с предъявлением требований не должен превышать 7 дней с момента получения
                        заказа.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Покупатель, которому продан товар ненадлежащего качества, если это не было оговорено продавцом,
                        вправе по своему выбору потребовать:
                        <ul class="text-body-2 text-ul mt-2 ml-3">
                            <li class="text-ul-item">
                                безвозмездного устранения недостатков товара или возмещения расходов на их исправление
                                покупателем или третьим лицом;
                            </li>
                            <li class="text-ul-item">
                                соразмерного уменьшения покупной цены;
                            </li>
                            <li class="text-ul-item">
                                замены на товар аналогичной модели, артикула или на такой же товар другой модели,
                                артикула с соответствующим перерасчетом покупной цены;
                            </li>
                            <li class="text-ul-item">
                                возврата уплаченной за товар суммы.
                            </li>
                        </ul>
                    </div>
                    <div class="text-body-2 lh-1-5 mb-4">
                        Возврат товара ненадлежащего качества осуществляется только по требованию продавца и за его
                        счет.
                    </div>
                    <div class="text-body-2 lh-1-5 ">
                        Продавец обязуется произвести обратное перечисление денежных средств покупателю в течение 10
                        дней со дня предъявления потребителем соответствующего
                        требования, либо со дня получения товара назад по требованию продавца.
                    </div>
                </div>
            </section>




            <%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>