<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности </title>



</head>

<body>
    <%= _.template(require('./includes/header.html').default)() %>
        <%= _.template(require('./includes/page-top.html').default)({ page: 'Политика конфиденциальности' }) %>


            <section class="content">
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-body-2 lh-1-5">
                        г. Ростов-на-Дону «10» ноября 2022 г. Настоящая Политика конфиденциальности персональных данных
                        (далее – Политика конфиденциальности) действует в отношении
                        всей информации, которую сайт, расположенный на доменном имени rsmliga.ru, может получить о
                        Пользователе во время использования сайта
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        1. Определение терминов
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1 В настоящей Политике конфиденциальности используются следующие термины:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.1. «Администрация сайта rsmliga.ru (далее – Администрация сайта)» – уполномоченные
                        сотрудники на управления сайтом, действующие от имени Министерства
                        цифрового развития, информационных технологий и связи Ростовской области, которые организуют и
                        (или) осуществляет обработку персональных данных, а также
                        определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке,
                        действия (операции), совершаемые с персональными данными.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному
                        или определяемому физическому лицу (субъекту персональных
                        данных).
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий
                        (операций), совершаемых с использованием средств автоматизации
                        или без использования таких средств с персональными данными, включая сбор, запись,
                        систематизацию, накопление, хранение, уточнение (обновление, изменение),
                        извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание,
                        блокирование, удаление, уничтожение персональных данных.
                        1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или
                        иным получившим доступ к персональным данным лицом
                        требование не допускать их распространения без согласия субъекта персональных данных или наличия
                        иного законного основания.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.5. «Пользователь сайта (далее - Пользователь)» – лицо, имеющее доступ к Сайту, посредством
                        сети Интернет и использующее Сайт.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере
                        пользователя, который веб-клиент или веб-браузер каждый раз
                        пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу
                        IP.
                    </div>
                    <div class="text-body-2 lh-1-5 ">
                        1.1.8. «Пользователь приложения» - лицо, использующее мобильное приложение сайта, скачанное с
                        официальных магазинов OS Android и iOS
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        2. Общие положения
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        2.1. Использование Пользователем сайта означает согласие с настоящей Политикой
                        конфиденциальности и условиями обработки персональных данных Пользователя.

                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить
                        использование сайта.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        2.3.Настоящая Политика конфиденциальности применяется только к сайту rsmliga.ru. Администрация
                        сайта не контролирует и не несет ответственность за сайты
                        третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых
                        Пользователем сайта.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        3. Предмет политики конфиденциальности
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по
                        неразглашению и обеспечению режима защиты
                        конфиденциальности персональных данных, которые Пользователь предоставляет по запросу
                        Администрации сайта при регистрации на сайте, в приложении или при
                        оформлении заказа на оказание услуг.

                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики
                        конфиденциальности, предоставляются Пользователем путём заполнения
                        регистрационной формы на Сайте, в мобильном приложении и (или) esia.gosuslugi.ru и включают в
                        себя следующую информацию:
                        <ul class="text-body-2 text-ul mt-2 ml-3">
                            <li class="text-ul-item">IP адрес; </li>
                            <li class="text-ul-item">информация из cookies; </li>
                            <li class="text-ul-item">информация о браузере (или иной программе, которая осуществляет
                                доступ к Сайту); </li>
                            <li class="text-ul-item">время доступа; </li>
                            <li class="text-ul-item">адрес страницы; </li>
                            <li class="text-ul-item">реферер (адрес предыдущей страницы). </li>
                        </ul>
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">3.2.1. фамилию, имя, отчество Пользователя; </div>
                    <div class="text-body-2 lh-1-5 mb-5">3.2.2. контактный телефон Пользователя; </div>
                    <div class="text-body-2 lh-1-5 mb-5">3.2.3. адрес электронной почты (e-mail); </div>
                    <div class="text-body-2 lh-1-5 mb-5">3.2.4. серию и номер паспорта Пользователя; </div>
                    <div class="text-body-2 lh-1-5 mb-5">3.2.5. номер СНИЛС Пользователя; </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.2.6. номер водительского удостоверения Пользователя.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.3. Администрация сайта защищает Данные, которые автоматически передаются в процессе просмотра
                        Сайта и при посещении страниц, на которых установлен
                        статистический скрипт системы ("пиксель"):
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим
                        авторизации.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.3.2. Администрация сайта осуществляет сбор статистики об IP-адресах своих посетителей. Данная
                        информация используется с целью выявления и решения
                        технических проблем, для контроля законности проводимых финансовых платежей.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        3.4. Любая иная персональная информация неоговоренная выше (используемые браузеры и операционные
                        системы и т.д.) подлежит надежному хранению
                        и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей
                        Политики конфиденциальности.

                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        4. Цели сбора персональной информации пользователя
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления заказа и (или)
                        заключения Договора оказания услуг дистанционным способом
                        с организациями.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов,
                        касающихся использования Сайта или Приложения, оказания услуг,
                        обработка запросов и заявок от Пользователя.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения
                        мошенничества.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.6. Создания учетной записи для заказа услуг, если Пользователь дал согласие на создание
                        учетной записи.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.7. Уведомления Пользователя Сайта или Приложения о состоянии Заказа.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания
                        платежа.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при
                        возникновении проблем, связанных с использованием Сайта
                        или Приложения
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.10. Предоставления Пользователю с его согласия, обновлений, специальных предложений,
                        информации о ценах, новостной рассылки и иных сведений от имени
                        Сайта или Приложения.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        4.1.12. Предоставления доступа Пользователю на сайты или сервисы внешних информационных систем с
                        целью получения обновлений и услуг.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        5. Способы и сроки обработки персональной информации
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым
                        законным способом, в том числе в информационных системах
                        персональных данных с использованием средств автоматизации или без использования таких средств.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные
                        данные третьим лицам, в частности, курьерским службам,
                        организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа
                        Пользователя, оформленного на Сайте или в Приложении.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной
                        власти Российской Федерации только по основаниям
                        и в порядке, установленным законодательством Российской Федерации.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя
                        об утрате или разглашении персональных данных.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты
                        персональной информации Пользователя от неправомерного
                        или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а
                        также от иных неправомерных действий третьих лиц.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по
                        предотвращению убытков или иных отрицательных последствий,
                        вызванных утратой или разглашением персональных данных Пользователя.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        6. Обязательства сторон
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5 text--demibold">
                        6.1. ПОЛЬЗОВАТЕЛЬ ОБЯЗАН:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом и
                        Приложением.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения
                        данной информации.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5 text--demibold">
                        6.2. АДМИНИСТРАЦИЯ САЙТА ОБЯЗАНА:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей
                        Политики конфиденциальности.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без
                        предварительного письменного разрешения Пользователя, а также
                        не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами
                        переданных персональных данных Пользователя, за исключением
                        п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных
                        Пользователя согласно порядку, обычно используемого для защиты
                        такого рода информации в существующем деловом обороте.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему
                        Пользователю, с момента обращения или запроса Пользователя или его
                        законного представителя либо уполномоченного органа по защите прав субъектов персональных данных
                        на период проверки, в случае выявления недостоверных
                        персональных данных или неправомерных действий.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        7. Ответственность сторон
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки,
                        понесённые Пользователем в связи с неправомерным использованием
                        персональных данных, в соответствии с законодательством Российской Федерации, за исключением
                        случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики
                        Конфиденциальности.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт
                        ответственность, если данная конфиденциальная информация:
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        7.2.1. Стала публичным достоянием до её утраты или разглашения.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        7.2.3. Была разглашена с согласия Пользователя.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        8. Разрешение споров
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и
                        Администрацией сайта, обязательным является предъявление
                        претензии (письменного предложения о добровольном урегулировании спора).
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно
                        уведомляет заявителя претензии о результатах рассмотрения
                        претензии.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        8.3. При недостижении соглашения спор будет передан на рассмотрение в судебный орган в
                        соответствии с действующим законодательством Российской Федерации.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией
                        сайта применяется действующее законодательство
                        Российской Федерации.
                    </div>
                </div>
                <div class="card px-3 py-5 px-md-7 py-md-7 mb-4">
                    <div class="text-h6 text-lg-h4 text--bold mb-5">
                        9. Дополнительные условия
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без
                        согласия Пользователя.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если
                        иное не предусмотрено новой редакцией Политики
                        конфиденциальности.
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать при
                        помощи формы обратной связи в мобильном приложении или
                        по адресу <a href="mailto:info@rsmliga.ru" class="btn btn--primary btn--link d-inline-flex">info@rsmliga.ru</a>
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        9.4. Действующая Политика конфиденциальности размещена на странице по адресу
                        <a href="https://rsmliga.ru/privacy" class="btn btn--primary btn--link d-inline-flex">https://rsmliga.ru/privacy</a>
                    </div>
                    <div class="text-body-2 lh-1-5 mb-5">
                        Обновлено «10» ноября 2022 г.
                    </div>
                </div>
            </section>




            <%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>