<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Типовая </title>



</head>

<body>
	<%= _.template(require('./includes/header.html').default)() %>
	<%= _.template(require('./includes/page-top.html').default)({ page: 'Типовая' }) %>


	<section class="content">

		<div class="text-subtitle-1 text-md-h6 mb-3 mb-md-5">Управление Ассоциацией</div>
		<div class="text-body-2 lh-1-5 mb-5 mb-md-8">
			Высший совет – это ключевой орган в стратегической деятельности федерации. Его члены избираются представителями
			региональных федераций раз в четыре года.
			Ключевые задачи Высшего совета - определять курс развития Федерации регби России, контролировать деятельность всех
			направлений работы, включая спортивную и финансовую составляющие на собраниях, которые происходят не реже чем раз
			в шесть месяцев. <br>
			Также Высший совет избирает Правление, которое занимается оперативным управлением деятельностью Федерации.
		</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
		</div>


		<div class="mt-10"></div>
		<div class="text-subtitle-1 text-md-h6 mb-3 mb-md-5">Попечительский совет</div>
		<div class="text-body-2 lh-1-5 mb-5 mb-md-8">
			Высший совет – это ключевой орган в стратегической деятельности федерации. Его члены избираются представителями
			региональных федераций раз в четыре года.
			Ключевые задачи Высшего совета - определять курс развития Федерации регби России, контролировать деятельность всех
			направлений работы, включая спортивную и финансовую составляющие на собраниях, которые происходят не реже чем раз
			в шесть месяцев. <br>
			Также Высший совет избирает Правление, которое занимается оперативным управлением деятельностью Федерации.
		</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="mt-10"></div>
		<div class="text-subtitle-1 text-md-h6 mb-3 mb-md-5">Совет тренеров</div>
		<div class="text-body-2 lh-1-5 mb-5 mb-md-8">
			Высший совет – это ключевой орган в стратегической деятельности федерации. Его члены избираются представителями
			региональных федераций раз в четыре года.
			Ключевые задачи Высшего совета - определять курс развития Федерации регби России, контролировать деятельность всех
			направлений работы, включая спортивную и финансовую составляющие на собраниях, которые происходят не реже чем раз
			в шесть месяцев. <br>
			Также Высший совет избирает Правление, которое занимается оперативным управлением деятельностью Федерации.
		</div>
		<div class="grid grid-spacing-md-5 grid-spacing-2">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<a href="" class="team-card  card h-100 hover-link-wrap">
					<div class="team-card-img">
						<img src="img/sempl/team-test.png" alt="">
					</div>
					<div class="team-card-content">
						<div class="text-body-1 text--demibold  hover-link">Дмитрий Удрас</div>
						<div class="text-body-2 fade-80 mt-2">
							Генеральный диектор группы
							компаний «Ростсельмаш»
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="mt-10"></div>
		<div class="text-subtitle-1 text-md-h6 mb-5 mb-md-8">Документы</div>
		<div class="docs-block">
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start mb-6">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
			<a href="" class="btn btn--link btn--primary flex-justify-start">
				<svg class="icon mr-4 text-body-1">
					<use xlink:href="img/icons.svg#download" />
				</svg>
				<div class="text-body-2 color-text text--underline">Положение о проведении Кубка Ростсельмаш по тэг-регби среди
					общеобразовательных учреждений</div>
			</a>
		</div>

	</section>

	
	<%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>