.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inset-0 {
    inset: 0;
}

.bd-none {
    border: none
}

.z-index{
    &-10{z-index: 10;}
    &-20{z-index: 20;}
    &-30{z-index: 30;}
    &-40{z-index: 40;}
}