.fancybox-custom-modal .fancybox__slide {
  padding: 15px;
}
@media (max-width: 426px) {
  .fancybox-custom-modal .fancybox__slide {
    padding: 0;
  }
}
.fancybox-custom-modal .fancybox__content {
  padding: 0;
  background: none;
}
@media (max-width: 426px) {
  .fancybox-custom-modal .fancybox__content {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    border-radius: 16px 16px 0 0;
  }
}
.fancybox-custom-modal .carousel__button.is-close {
  position: fixed;
  right: 0;
  top: 0;
  padding: 16px;
  width: 68px;
  height: 68px;
}
@media (max-width: 426px) {
  .fancybox-custom-modal .carousel__button.is-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 16px;
    right: 16px;
    padding: 0;
    border-radius: 50%;
    background: #F3F3F5;
  }
}
@media (max-width: 426px) {
  .fancybox-custom-modal .carousel__button.is-close svg {
    filter: none;
    color: #000;
    width: 12px;
    height: 12px;
  }
}
