.tippy-box[data-theme~='flat'] {
  background-color: #fff;
  color: var(--color-text);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  padding: 8px;
}
.tippy-box[data-theme~='flat'] .tippy-content {
  padding: 0;
}
.tippy-box[data-theme~='flat'] .tippy-arrow {
  color: #fff;
}
.tippy-box[data-theme~='custom-default'] {
  background-color: #fff;
  color: var(--color-primary);
  font-weight: 600;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 12px 20px;
}
.tippy-box[data-theme~='custom-default'] .tippy-content {
  padding: 0;
}
.tippy-box[data-theme~='custom-default'] .tippy-arrow {
  color: #fff;
}
.tippy-box[data-theme~='header-user'] {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  color: var(--color-text);
  padding: 16px;
}
.tippy-box[data-theme~='header-user'] .tippy-content {
  padding: 0;
}
.tippy-box[data-theme~='header-user'] .tippy-arrow {
  color: #fff;
}
.tippy-box[data-theme~='chart-col'] {
  background-color: #fff;
  color: var(--color-text);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 12px 16px;
}
.tippy-box[data-theme~='chart-col'] .tippy-content {
  padding: 0;
}
